:root {
    --global-background-color: #222;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

header>nav>ul {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 100%);
}

nav a {
    color: white;
}

h1,
h2 {
    font-family: 'Tenor Sans', serif;
    color: white;
}

.hero-image {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-size: cover;
    background-position: right 20%;
    background-repeat: no-repeat;
}

#fuji {
    background-image: linear-gradient(transparent 0%, transparent 20%, var(--global-background-color) 100%), url("../images/cocktails/mt_fuji_wide.jpg");
}

.hero-text {
    padding-top: 14vw;
    padding-bottom: 15vw;

    text-align: center;
    font-size: 1.1em;
    color: white;
}

div.hero-text>h1 {
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 0;
}

div.hero-text>p {
    font-size: 100%;
}

.fa-arrow-circle-down {
    color: white;
    font-size: 2em;
    margin-top: 0.5em;
    text-decoration: none;
}