:root {
    --global-background-color: #222;
}


html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;

    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
    /* border: 2px dashed white; */
}

.hero-image {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(transparent 0%, transparent 70%, var(--global-background-color) 100%), url("../images/hero_home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding-top: 10vw;
    padding-bottom: 15vw;

    text-align: center;
    font-size: 1.1em;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Tenor Sans';
    font-weight: 600;
}

div.hero-text>h2 {
    font-size: 3vw;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

div.hero-text>h1 {
    font-size: 6vw;
    margin-bottom: 0;
}

div.hero-text>p {
    font-size: 100%;
}

div.hero-text>button {
    background-color: black;
    border: none;
    font-family: inherit;
    font-size: 1em;
    border-radius: 3em;
    padding-inline: 2em;
    padding-block: .75em;
    transition-duration: 0.4s;
}

div.hero-text>button>a {
    color: white;
    text-decoration: none;
}


div.hero-text>button:hover {
    transform: scale(1.2);
}

div.my-work {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.work-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3%;
}

div.work-icon>a>img {
    max-width: 100%;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

div.work-icon>a>img:hover {
    transform: scale(1.1);
}

div.work-icon>h3 {
    font-family: "Tenor Sans";
    color: white;
    font-size: 1.75em;
}