<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/code-style.css">
    <link rel="stylesheet" href="../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>

    <header>
        <nav class="light">
            <ul>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="cocktails">Cocktails</a></li>
                <li><a href="code">Code</a></li>
                <li><a href="photography">Photography</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero-image">
        <div class="hero-text">
            <h1 id="name">CODE</h1>
            <p>I write code. Check out my projects.</p>
            <a href="#projects" class="scroll-down-button">
                <i class='fas fa-arrow-circle-down'></i>
            </a>
        </div>
    </div>

    <div class="projects">

    </div>
    
    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/animations.js"></script>
</body>

</html>