<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index-style.css">
    <link rel="stylesheet" href="../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>

    <header>
        <nav class="light">
            <ul>
                <li id="home"><a href="">Home</a></li>
                <li><a href="cocktails">Cocktails</a></li>
                <li><a href="code">Code</a></li>
                <li><a href="photography">Photography</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero-image">
        <div class="hero-text">
            <h2>HELLO, I AM</h2>
            <h1 id="name">NICK KNUDSEN</h1>
            <p>I make cocktails, write code, take photos, and more</p>
            <a href="#about" class="scroll-down-button">
                <i class='fas fa-arrow-circle-down'></i>
            </a>
        </div>
    </div>

    <section class="parallax-section" id="about">
        <div class="sticky-half-left">
            <h2>ABOUT</h2>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#cocktails">Cocktails</a></li>
                    <li><a href="#code">Code</a></li>
                    <li><a href="#photography">Photography</a></li>
                </ul>
            </nav>
        </div>
        <div class="scrolling-half-right">
            <img id='portrait' src="../public/images/portrait.jpeg" class="fade-in-up">
            <div id="about-text" class="fade-in-up">
                <p> Hi, I'm Nick Knudsen! I built this site to serve as a portfolio for my various interests, mainly cocktails, coding, and photography.
                    I graduated from the University of Vermont in 2023 with a Bachelor of Science in Data Science and 
                    a minor in math. In my spare time I spend a lot of time outdoors, hiking, birding, camping, biking, 
                    and snowboarding.
                </p>
                <p>
                    I currently am pursuing a passion for cocktail creation, and work as the head bartender at Pizzeria Verita, 
                    a Neapolitan restaurant in Burlington, Vermont. I am interested in both technique and ingredient driven cocktails, 
                    with a focus on using local ingredients, reducing waste, and general sustainability in the bar program as a whole. 
                </p>
                <p>
                    When it comes to computer science, I am especially interested in large and novel datasets, complex systems, evolutionary computation, 
                    and neural networks. I am constantly working on several coding projects, both in order to hone my skills in my areas of expertise, as well 
                    as to develop new ones and broaden the range of my knowledge and experience. 
                </p>
                <p>
                    My most used tool is almost certainly a camera. I shoot both digital and film, and carry a camera with me most places. My favorite subjects
                     include environmental portraiture, birds, macro, long exposure landscape, and astrophotography.
                </p>
                <p>
                    Please <a href="mailto:nick.knudsen14@gmail.com">contact me</a> for a copy of my resume, or with any comments, requests, or questions you may have!
                </p>
            </div>
        </div>
    </section>

    <section class="parallax-section" id="cocktails">
        <div class="scrolling-half-left">
            <div class="parallax-image">
                <div class="overlay">
                    <p>Pining for the Fjords</p>
                </div>
            </div>
            <div class="parallax-image">
                <div class="overlay">
                    <p>Honey I Shrubbed the Gin</p>
                </div>
            </div>
            <div class="parallax-image">
                <div class="overlay">
                    <p>Colonel Mustard in the Conservatory<br>With the Candlestick</p>
                </div>
            </div>
        </div>
        <div class="sticky-half-right">
            <h2>COCKTAILS</h2>
            <button type="button"><a href="/cocktails">Recipes</a></button>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#cocktails">Cocktails</a></li>
                    <li><a href="#code">Code</a></li>
                    <li><a href="#photography">Photography</a></li>
                </ul>
            </nav>
        </div>

    </section>

    <section class="parallax-section" id="code">
        <div class="sticky-half-left">
            <h2>CODE</h2>
            <button type="button"><a href="/code">Projects</a></button>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#cocktails">Cocktails</a></li>
                    <li><a href="#code">Code</a></li>
                    <li><a href="#photography">Photography</a></li>
                </ul>
            </nav>
        </div>
        <div class="scrolling-half-right">
            <div class="parallax-image">
                <div class="overlay">
                    <p>Evolutionary Crossword Grid Shape Generation</p>
                </div>
            </div>
            <div class="parallax-image">
                <div class="overlay">
                    <p>Listening habit based automatic<br>playlist creation</p>
                </div>
            </div>
            <div class="parallax-image">
                <div class="overlay">
                    <p>Spotify podcast ad skipping</p>
                </div>
            </div>
        </div>

    </section>

    <section class="parallax-section" id="photography">
        <div class="scrolling-half-left">
            <div class="parallax-image">
                <div class="overlay">
                    <p>Astro</p>
                </div>
            </div>
            <div class="parallax-image">
                <div class="overlay">
                    <p>Birds</p>
                </div>
            </div>
            <div class="parallax-image">
                <div class="overlay">
                    <p>Macro</p>
                </div>
            </div>
        </div>
        <div class="sticky-half-right">
            <h2>PHOTOGRAPHY</h2>
            <button type="button"><a href="/photography">Gallery</a></button>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#cocktails">Cocktails</a></li>
                    <li><a href="#code">Code</a></li>
                    <li><a href="#photography">Photography</a></li>
                </ul>
            </nav>
        </div>

    </section>


    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/index.js"></script>
    <script src="../public/js/animations.js"></script>
</body>

</html>