<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/photography-style.css">
    <link rel="stylesheet" href="../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="mobile-icon" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="cocktails">Cocktails</a></li>
                <li><a href="code">Code</a></li>
                <li><a href="photography">Photography</a></li>
                <li id="menu-toggle" class="mobile-icon"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>
    <div id="mobile-nav-background" class="dark"></div>
    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="cocktails">Cocktails</a></li>
                <li><a href="code">Code</a></li>
                <li><a href="photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="hero-image">
        <div class="hero-text">
            <h1 id="name">PHOTOGRAPHY</h1>
            <p>I take photos. Check out my gallery.</p>
            <a href="#imageGallery" class="scroll-down-button">
                <i class='fas fa-arrow-circle-down'></i>
            </a>
        </div>
    </div>

    <div class="gallery-container">
        <div class="gallery-controls">
            <button id="tile-view-button" class="active"><i class="fas fa-th"></i></button>
            <button id="timeline-view-button"><i class="fa-solid fa-image"></i></button>
        </div>
        <ul class="image-gallery tile-view" id="imageGallery">
            <!-- Dynamically load gallery images -->
        </ul>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/photography.js"></script>
    <script src="../public/js/animations.js"></script>

</body>

</html>