<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="fa" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>

    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo">
        <div class="overlay" id="overlay_black"></div>
        <img src="../../public/images/cocktails/avochata_tall_2.jpg" id="avochata">
    </div>

    <div class="hero-text">
        <h1 class="name">AVOCHATA</h1>
        <p>A stirred drink where agave meets avocado meets horchata</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>1.5 oz. avocado-infused Pueblo Viejo blanco tequila<br>
        1 oz. Centenario Añejo<br>
        .5 oz. horchata syrup<br>
        3 dashes Angostura bitters<br>
        3 dashes Tamarind agave Fiesta bitters<br>
        4 drops 20% saline solution</p>
        <p>Combine ingredients in a mixing glass, add ice and stir.<br>
        Strain into a coupe glass.<br>
        Using an atomizer, spray twice with del Maguey Vida Mezcal</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Avocado-infused tequila</p>
                <p class="prep-ingredients">1400g Pueblo Viejo blanco tequila<br>
                600g avocado<br>
                4g Pectinex Ultra SP-L<br>
                667mL room temperature water<br>
                5.33g agar agar
            </p>
                <p class="prep-instructions">In a vitamix or similar blender, combine tequila, avocado, and Pectinex.
                Blend until homogeneous. In a saucepan, combine water and agar and whisk until dissolved. Heat on induction
                burner until boiling, turn down to 212F and cover. After two minutes, remove from burner, and slowly add avocado tequila puree
                while whisking. Once fully incorporated, pour into small hotel pan and refrigerate for at least four hours.
                To strain, spoon gel into two nut milk bags, and whisk to break up. Tie strings to close, place in large perforated
                hotel pan nested inside large hotel pan. Place a third large hotel pan on top of the nut milk bags and weigh down 
                with about forty pounds. Let strain for four hours. Pour into container to sit overnight. The next day,
                strain through Chemex filter. The resulting liquid should be perfectly clear.

                </p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Horchata syrup</p>
                <p class="prep-ingredients">450g arborio rice<br>
                3g cinnamon stick<br>
                2 vanilla beans<br>
                1000mL hot water<br>
                ~1500g agave nectar</p>
                <p class="prep-instructions">Toast rice and cinnamon on a sheet pan at 400F for fifteen minutes. Toast vanilla beans
                on a gas flame using tongs until puffy, about 30 seconds. Combine toasted rice, cinnamon, and vanilla beans with water and 
                blend in vitamix or similar blender for two minutes. Strain through fine mesh chinois, pressing with spatula. Strain through a Chemex filter.
                Combine the resulting liquid with twice its weight in agave nectar.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>This is very much a technique driven cocktail. I had previously made a drink with an avocado purée which was shaken, and while the flavor was right,
            the texture was not ideal. I wanted something silky smooth, ideally stirred. As I did not have a centrifuge at my disposal, the only way to achieve this 
            was with agar clarification. Most of the procedure follows Dave Arnold's instructions detailed in Liquid Intelligence, but I did make a few changes at the end which increase yield.
            Dave Arnold lays out two separate filtration methods for the agar gel: freeze-thaw and quick. Quick clarification results in a higher yield but he warns it may leave wisps of agar behind, which 
            can add a slight cloudiness to the end product. Either way, he explicitly states not to apply pressure to the nut milk bag, so as to avoid extruding the agar gel. This is fine if you are not overly
            concerned with yield and thus cost, but I found a way to get around this. Once strained, the liquid is thin enough to rack, or let sit to allow suspended particles to settle out. This can then be strained
            with a paper filter, giving a perfectly clear product. I suspect he never tried this because he has ready access to a centrifuge, which can achieve the same effect much more quickly. I decided to pair the rich nuttiness
            of the avocado with the classic flavors of horchata. The toasted rice comes through in a delightful way. With just a couple sprays of mezcal on top, a little smokiness rounds it all out.
        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/animations.js"></script>
</body>

</html>