<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="mobile-icon" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle" class="mobile-icon"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>
    <div id="mobile-nav-background" class="dark"></div>
    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo" class="coconut-mocha">
        <div class ="overlay" id="overlay_black"></div>
    </div>

    <div class="hero-text">
        <h1 class="name">COCONUT MOCHA</h1>
        <h1 class="name">NEGRONI</h1>
        <p>A rich and decadent dessert negroni</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>1 oz. Appleton Estate Signature rum<br>
        1 oz. cacao nib coffee bean infused coconut oil washed Campari<br>
        1 oz. Carpano Antica</p>
        <p>Combine ingredients in a mixing glass and stir with ice.<br>
        Strain over a large ice cube.<br>
        Garnish with a coffee bean or a dried coconut flake.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Cacao nib coffee bean infused coconut oil washed Campari</p>
                <p class="prep-ingredients">750mL Campari<br>
                75g cacaro nibs<br>
                75g dark roast coffee beans<br>
                80mL virgin coconut oil</p>
                <p class="prep-instructions">Lightly crush coffee beans in a mortar in pestle, add cacao nibs and crushed beans 
                    to Campari and infuse at room temperature. After 2 days, add coconut oil and shake well. Shake several more times throughout
                    the next day. 24 hours after adding the coconut oil, place in the freezer to solidify the coconut oil. Once solid, pour off the liquid
                     and strain to remove cacao nibs and coffee beans. 
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>This drink is my attempt to dessertify a negroni. The coffee and cacao bring additional, more earthy, bitter notes to the drink, while the coconut 
            oil wash helps to smooth out the rough edges. Carpano Antica contributes a nice vanilla top note, and the slight funk from the Appleton is the perfect 
            companion. A touch sweeter and more bitter than a classic negroni, this is a great digestivo after a large meal, a slow sipper with a lingering finish, along 
            with a touch of caffeine to aid in digestion!

        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../../public/js/animations.js></script>
</body>

</html>