<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="mobile-icon" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle" class="mobile-icon"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>
    <div id="mobile-nav-background" class="dark"></div>
    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo" id="colonel-mustard"></div>

    <div class="hero-text" id="mustard">
        <h1 class="name" >COLONEL MUSTARD</h1>
        <h1 class="name">IN THE CONSERVATORY</h1>
        <h1 class="name">WITH THE CANDLESTICK</h1>
        <p>An umami rum sour with ginger, maple, and mustard</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>2 oz. mustard-infused Plantation 3 Stars rum <br>
        1 oz. lemon juice<br>
        .5 oz. maple syrup<br>
        .5 oz. ginger syrup <br>
        .25 oz. tamari </p>
        <p>Combine ingredients in a shaker, add ice, and shake.<br>
        Double strain over a large ice cube.<br>
        Garnish with a speared piece of candied ginger.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Mustard-infused rum</p>
                <p class="prep-ingredients">750mL Plantation 3 Stars rum<br>
                26g whole yellow mustard seed</p>
                <p class="prep-instructions">Combine ingredients in an air-tight container.
                    Infuse at room temperature for six days. Strain through a chinois.</p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Ginger syrup</p>
                <p class="prep-ingredients">200g fresh ginger root<br>
                    500g sugar<br>
                    500g water</p>
                <p class="prep-instructions">Combine sugar and water in a vitamix or similar blender 
                    and blend for about two minutes. Roughly chop the ginger and add it to the blender.
                    Blend for three minutes, then strain through a fine mesh chinois. Press the ginger pulp with 
                    a spatula to squeeze all the syrup out.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>When it comes to taste, this is an in-your-face drink with an in-your-face name. Inspired by my favorite 
            salad dressing recipe, the maple ginger vinaigrette from the Inn at Shelburne Farms cookbook, every aspect 
            of this cocktail is assertive. For maple syrup, try to find "dark color with robust taste", I find the maple 
            flavor comes through more clearly using this grade. For tamari, I like to use San-J organic. You could probably 
            use a different brand of tamari or even soy sauce, but you will probably need to adjust the measurement for balance.
        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../../public/js/animations.js></script>
</body>

</html>