<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="mobile-icon" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle" class="mobile-icon"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>
    <div id="mobile-nav-background" class="dark"></div>
    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo" id="fjords"></div>

    <div class="hero-text">
        <h1 class="name">PINING FOR</h1>
        <h1 class="name">THE FJORDS</h1>
        <p>A silky smooth winter gin sour with notes of pine, orange, and spice</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>1.75 oz. St. George Terroir gin <br>
        .5 oz. acid-adjusted orange juice <br>
        .5 oz. 5% lactic acid solution <br>
        .75 oz. pinecone syrup <br>
        .25 oz. Amaro Braulio <br>
        .5 oz. aquafaba <br>
        4 drops 20% saline solution </p>
        <p class="spec-instructions">Combine ingredients in a shaker, shake with ice, then strain and dry shake. <br>
        Fine strain into a large coupe glass rinsed with aquavit.<br>
        Garnish with Angostura bitter art.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Pinecone syrup</p>
                <p class="prep-ingredients">130g dried, destemmed pinecones<br>
                500g sugar<br>
                500g water</p>
                <p class="prep-instructions">To dry the pinecones, place them on a sheet pan
                lined with parchment paper, and bake for 30 minutes at 225F. At this point it should be easy to remove
                the scales. If not, continue drying. Combine sugar and water in a vitamix or similar blender, and run
                for about two minutes. Add pinecone scales and blend for three minutes. Strain through a chinois and
                then through a nut milk bag.</p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Acid-adjusted orange juice</p>
                <p class="prep-ingredients">1000mL fresh squeezed orange juice<br>
                47g citric acid <br>
                5g malic acid</p>
                <p class="prep-instructions">Combine all ingredients in a container and shake until acids are dissolved.
                    Here I have used 1000mL as the base measurement to allow for easy scaling. You probably do not want to
                    make this much at a time.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>This drink combines one of my favorite amari, Braulio, with one of my favorite gins, St. George Terroir.
        Amaro Braulio is a complex alpine style amaro with a pine top note. With this gin, in addition to juniper, Douglas Fir is included 
        as a botanical. To complement these flavors, I created a pinecone syrup using locally foraged pinecones from red and white pine trees.
        You could use a species local to you, but make sure to first do some reading on the edibility of your local evergreen species.
        Orange was the clear choice for citrus here, as it pairs so well with pine and spice flavors. The lactic acid helps with balance and 
        adds a silky texture. For the foam, you could use an egg white at home, but at the bar I like to use aquafaba for a few reasons: 
        it's vegan, easier to put in a bottle, cheaper, and has a longer shelf life. The aquavit rinse and Angostura garnish both add baking spice
        notes that are evocative of the wintertime. The name, of course, is a nod to the pine aspects in the drink, the Norwegian aquavit,
        and references Monty Python's wonderful Dead Parrot sketch.

        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../../public/js/animations.js"></script>
</body>

</html>