<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="/cocktails">Cocktails</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/photography">Photography</a></li>
            </ul>
        </nav>
    </header>

    <div class="cocktail-photo">
        <div class="overlay" id="overlay_black"></div>
        <img src="../../public/images/cocktails/high_sobriety_pour.jpg" id="high_sobriety">
    </div>

    <div class="hero-text">
        <h1 class="name">HIGH SOBRIETY</h1>
        <p>A tart and refreshing mocktail with blueberry, lavender, peppermint, and CBD</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>1.5 oz. peppermint tea<br>
        1 oz. blueberry lavender shrub<br>
        barspoon gentian syrup<br>
        10 drops lemon hemp extract </p>
        <p>Combine all ingredients in a mixing glass and stir with ice. Strain over a large 
            ice cube and garnish with a lemon twist.
        </p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Peppermint tea</p>
                <p class="prep-ingredients">3 bags peppermint tea<br>
                500mL boiling water</p>
                <p class="prep-instructions">Brew tea bags in water for 10 minutes, then remove.</p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Blueberry lavender shrub</p>
                <p class="prep-ingredients">1200g blueberries (about 2 quarts)<br>
                950g sugar<br>
                950mL apple cider vinegar<br>
                12g dried lavender</p>
                <p class="prep-instructions">Blend blueberries and sugar until homeogeneous, about one minute. Combine apple cider
                    vinegar and lavender. Let both these mixtures sit in the fridge for two days, then combine. Strain through a fine
                    mesh chinois, pressing with a spatula to get as much liquid out as possible. Strain the resulting liquid through a nut milk bag.
                </p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Gentian syrup</p>
                <p class="prep-ingredients">3.5g dried gentian root<br>
                    500mL boiling water<br>
                    500g sugar</p>
                <p class="prep-instructions">Steep the gentian root in the boiling water. After 10 minutes, strain out 
                    the root, and combine the water and sugar. Mix until all the sugar dissolves.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>I wanted to create a non-alcoholic drink that still had the relaxing effects of a cocktail, so I turned to CBD extract.
            Here I used the lemon hemp extract from Upstate Elevator Supply Co. The fresh summery flavors of mint, blueberries, and lavender pair
             perfectly with the deeper bitter lemon note of the extract, which is complemented by the earthy bitterness of the gentian syrup. While this drink 
             is definitely crushable, it serves equally well as a slow sipper.

        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/smooth-scrolling.js"></script>
</body>

</html>