<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="/cocktails">Cocktails</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/photography">Photography</a></li>
            </ul>
        </nav>
    </header>

    <div class="cocktail-photo">
        <div class="overlay" id="overlay_black"></div>
        <img src="../../public/images/cocktails/honey_shrub.jpg" id="honey_shrub">
    </div>

    <div class="hero-text">
        <h1 class="name">HONEY I SHRUBBED</h1>
        <h1 class="name">THE GIN</h1>
        <p>A velvety, complex drink with floral and balsamic flavors</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>2 oz. Barr Hill gin<br>
        2 oz. clarified lemon honey balsamic shrub</p>
        <p>Combine ingredients in a mixing glass, and stir with ice.<br>
        Strain over a large ice cube.<br>
        Garnish with a red clover.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Clarified lemon honey balsamic shrub</p>
                <p class="prep-ingredients">150g lemon peel<br>
                240g sugar<br>
                710mL apple cider vinegar<br>
                450mL lemon juice<br>
                90g balsamic vinegar<br>
                480g honey<br>
                375mL milk</p>
                <p class="prep-instructions">Combine the lemon peel and sugar to make an oleo saccharum. Let sit 24 hours 
                    at room temperature. Combine this with the remaining ingredients except for the milk and let the flavors meld 
                    in the fridge for three days. Remove the lemon peels and pour the liquid into the milk. Let curdle for 1 hour, 
                    and then strain two or three times through a nut milk bag until clear.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>I created this drink for the Barr Hill Bee's Knees cocktail competition in 2023, where it was selected as a semi-finalist. 
    The requirements for submission were that the drink feature Barr Hill gin, an element of lemon, and an element of honey, so as to 
    be at least slightly adjacent to a Bee's Knees. I wanted to incorporate balsamic vinegar to provide the drink a deeper, more complex undertone. 
    The obvious way to do this was with a shrub. Even though the balsamic vinegar was such a small fraction of the vinegar used in the shrub, it was still 
    nearly overpowering the delicate wildflower botanicals in the Barr Hill gin, and the texture was not what I was after. To remedy both these problems at once 
    I decided to clarify the shrub, which helped to meld the flavors, provided a richer mouthfeel, and allowed for the drink to be stirred. This is the perfect drink 
    for a warm August evening.

        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/smooth-scrolling.js"></script>
</body>

</html>