<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="mobile-icon" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle" class="mobile-icon"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>
    <div id="mobile-nav-background" class="dark"></div>
    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo" id="pear-noel"></div>

    <div class="hero-text">
        <h1 class="name">PEAR NOËL</h1>
        <p>A spicy tequila drink with chocolate, pear, and cinnamon</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>1.5 oz. mole Pueblo Viejo Reposado<br>
        1 oz. caramelized pear-infused Cocchi Barolo Chinato<br>
        .5 oz. St. George spiced pear liqueur<br>
        .5 oz. cinnamon syrup<br>
        .25 oz. 5% lactic acid solution<br>
        2 drops Bittermens Xocolatl mole bitters<br>
        2 drops 20% saline solution </p>
        <p class="spec-instructions">Combine ingredients in a shaker, add ice, and shake.<br>
        Fine strain into a rocks glass with one large ice cube.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Mole reposado</p>
                <p class="prep-ingredients">1000mL Pueblo Viejo Reposado<br>
                133.5g cacao nibs<br>
                1.34g dried chile de árbol</p>
                <p class="prep-instructions">Mince the chiles, add to an airtight container
                with the cacao nibs and tequila, infuse at room temperature for three days. Strain through a chinois.</p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Pear Chinato</p>
                <p class="prep-ingredients">1000mL Cocchi Barolo Chinato<br>
                760g thinly sliced anjou pear<br>
                20g canola oil</p>
                <p class="prep-instructions">Sauté sliced pears in canola oil over high heat until browned.
                    Combine with Chinato and infuse for three days in the fridge. Strain through a chinois.
                </p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Cinnamon syrup</p>
                <p class="prep-ingredients">20g cinnamon sticks<br>
                500g sugar<br>
                500g water</p>
                <p class="prep-instructions">Roast cinnamon sticks in oven at 500F for three minutes. Combine sugar and water
                in vitamix blender or similar and blend for about two minutes. Add roasted cinnamon sticks and blend for three minutes.
                Strain through a nut milk bag.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>The concept and spec for this drink were created by Anna Schmeltzer. [Insert Anna inspiration blurb here] I suggested infusing 
        the caramelized pears into the Cocchi Barolo Chinato, which is a delightful aromatized wine infused with cinchona,
        gentian, rhubarb, and cardamom. This would play well with the cinnamon and other baking spices present in the spiced pear liqueur, while also
        contributing some bitter aspects to help with balance and providing a deep fruit note. Additionally, I find vermouths to be better vehicles for fruit infusions in general.
        All these various aspects come together to make the perfect winter cocktail to sip by the fireplace on a cold day.
        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/animations.js"></script>
</body>

</html>