<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="fa" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>

    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo">
        <img src="../../public/images/cocktails/tannin_bombs_wide.jpg" id="tannin_bombs">
    </div>

    <div class="hero-text">
        <h1 class="name">THE ROYAL</h1>
        <h1 class="name">TANNIN BOMBS</h1>
        <p>A tannic, slow-sipping rye scaffa</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>2 oz. Old Overholt rye whiskey<br>
        .67 oz. Nebbiolo reduction syrup<br>
        barspoon Elisir Novasalus<br>
        .75 oz. evergreen needle tea<br>
        </p>
        <p>Combine all ingredients in a snifter glass and serve neat.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Nebbiolo syrup</p>
                <p class="prep-ingredients">750mL nebbiolo wine<br>
                ~400g sugar</p>
                <p class="prep-instructions">Reduce wine by half volume to 375mL over low heat. If overreduced,
                    add water to achieve this volume. Combine wine reduction and sugar in equal parts by weight and stir until
                    sugar is fully dissolved.
                </p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Evergreen needle tea</p>
                <p class="prep-ingredients">30g dried hemlock needles<br>
                30g dried cedar needles<br>
                1000mL boiling water</p>
                <p class="prep-instructions">Evergreen branches can be dried in a dehydrator overnight or in
                    an oven at the lowest temperature setting for 30 minutes. Once dried it will be easy to remove the needles.
                    Combine needles and boiling water in a vitamix or similar blender and blend for one minute. Strain through a nut milk bag.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>A scaffa is a style of serving a drink neat at room temperature that was popular from the early days of cocktails
            until around the 1840s, when ice became readily available year-round. Often featuring minimal to no dilution, these drinks
            are quite "hot" in comparison to most cocktails. While I did up the dilution here to bring it more in line with modern tastes
            and to allow some of the more subtle flavors to shine, make no mistake, this is definitely a slow sipper. If ever a drink I created
            were a concept drink, this is it. Wes Anderson is one of my favorite directors, and the name of this drink just popped into my head one day.
            I immediately set about bringing it to life. Tannins are found in many plants and plant-derived products, and are responsible for the characteristic astringency of 
            some red wines, barrel aged spirits, and black teas. The Nebbiolo grape in particular is highly tannic, so I thought making a syrup out of one
            and pairing it with an oak barrel aged rye would be a good start. Loosely based in a Manhattan spec, with the Nebbiolo syrup standing in for vermouth, I turned to
            Elisir Novasalus, an intensely bitter and dry vino amaro featuring Dolomitic herbs and berries, for the bitters. Diluting it with water just wouldn't do, so I foraged
            some needles from Eastern Hemlock and Eastern White Cedar trees. This drink went through countless iterations before I was satisfied with the result. At one point I 
            tried milk washing it, and with the tannins stripped out it was a shell of its former self, which convinced me I had created what I set out to.
        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../public/js/smooth-scrolling.js"></script>
</body>

</html>