<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/cocktail-style.css">
    <link rel="stylesheet" href="../../public/css/nav-style.css">
    <script src="https://kit.fontawesome.com/81346e6ad4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tenor+Sans">
    <title>Nick Knudsen</title>
</head>

<body>
    <header>
        <nav class="dark">
            <ul>
                <li class="mobile-icon" id="home-mobile"><a href=".."><i class="fa-solid fa-house"></i></a></li>
                <li id="home"><a href="..">Home</a></li>
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
                <li id="menu-toggle" class="mobile-icon"><i class="fa fa-bars"></i></li>
            </ul>
        </nav>
    </header>
    <div id="mobile-nav-background" class="dark"></div>
    <div class="mobile-overlay" id="mobile-overlay">
        <div class="menu-container">
            <ul class="menu-options">
                <li><a href="../cocktails">Cocktails</a></li>
                <li><a href="../code">Code</a></li>
                <li><a href="../photography">Photography</a></li>
            </ul>
            <div class="close-icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="cocktail-photo" id="tennessillin">
        <div class="overlay" id="overlay_brown"></div>
    </div>

    <div class="hero-text">
        <h1 class="name">TENNESSILLIN</h1>
        <p>A reimagined Penicillin with Tennessee whiskey and cedar smoke</p>
        <a href="#spec" class="scroll-down-button">
            <i class='fas fa-arrow-circle-down'></i>
        </a>
    </div>

    <div class="spec" id="spec">
        <div class="spacer"></div>
        <h2>THE SPEC</h2>
        <p>2 oz. Uncle Nearest 1884<br>
        1 oz. lemon juice<br>
        .5 oz. ginger syrup<br>
        .5 oz. honey syrup<br>
        4 drops 20% saline solution </p>
        <p>Smoke a double rocks glass on a cedar plank.<br>
            Combine ingredients in a shaker, shake with ice, then double strain
             into the smoked glass with a large ice cube.<br>
            Garnish with a speared candied ginger cube.</p>
    </div>
    <div class="prep">
        <h2>THE PREP</h2>
        <div class="prep-list">
            <div class="prep-item">
                <p class="prep-name">Ginger syrup</p>
                <p class="prep-ingredients">200g fresh ginger root<br>
                    500g sugar<br>
                    500g water</p>
                <p class="prep-instructions">Combine sugar and water in a vitamix or similar blender 
                    and blend for about two minutes. Roughly chop the ginger and add it to the blender.
                    Blend for three minutes, then strain through a fine mesh chinois. Press the ginger pulp with 
                    a spatula to squeeze all the syrup out.
                </p>
            </div>
            <div class="prep-item">
                <p class="prep-name">Honey syrup</p>
                <p class="prep-ingredients">250g raw honey<br>
                150g water</p>
                <p class="prep-instructions">Mix honey and water until fully dissolved.
                </p>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>THE STORY</h2>
        <p>I created this drink as a way to showcase this wonderful expression of Tennessee whiskey. The story of Nathan "Nearest" Green 
        is truly remarkable. He is credited with perfecting the Lincoln County process while working at a distillery as a slave in Tennessee. He 
        mentored the young Jack Daniels, and is the first recorded black master distiller in the United States. This whiskey honors his legacy, and 
        the master distiller today is his third generation descendant. The distinctive smokiness from the sugar maple charcoal is boosted here with the sweet 
        fragrant cedar smoke. The pungent fresh ginger and raw honey flavors stand up to the assertive smokiness in this variation on the modern classic Penicillin cocktail.

        </p>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>

    <footer>
        <ul>
            <li>&copy; 2024 Nick Knudsen</li>
            <li><a href="https://www.instagram.com/cocktail.chem/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nick-h-knudsen" target="_blank" class="fa fa-linkedin"></a></li>
            <li><a href="https://www.flickr.com/photos/nickknudsen/" target="_blank" class="fa fa-flickr"></a></li>
            <li><a href="https://github.com/nick-knudsen/" target="_blank" class="fa fa-github"></a></li>
            <li><a href="mailto:nick.knudsen14@gmail.com" class="fa fa-envelope-o"></a></li>
        </ul>
    </footer>

    <script src="../../public/js/animations.js></script>
</body>

</html>