:root {
    --global-background-color: #222;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

.cocktail-photo {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: -2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2 {
    font-family: 'Tenor Sans', serif;
    color: white;
}

.hero-text {
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1.1em;
    color: white;
}

.hero-text h1 {
    font-size: 8vw;
    margin-top: 0;
    margin-bottom: 0;
    /* line-height: 50%; */
}

.hero-text p {
    margin-top: 5rem;
    font-size: 1.5vw;
}

.fa-arrow-circle-down {
    color: white;
    font-size: 5rem;
    text-decoration: none;
    transition-duration: 0.4s;
}

.fa-arrow-circle-down:hover {
    transform: scale(1.2);
}

.spec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent 0%, rgba(34,34,34,0.5) 30%);
    color: white;
    text-align: center;
    font-size: 2rem;
}

.prep-instructions,
.spec-instructions {
    font-family: 'Ubuntu';
    line-height: 150%;
    text-align: left;
}

.spec-instructions {
    box-sizing: border-box;
    padding: 0em 2em;
}

#bumpkin-spec {
    padding: 2em;
}

.spacer {
    height: 15vh;
}

h2 {
    font-size: 5vw;
    padding: 2rem 0 0 0;
}

.prep {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(34,34,34,0.5);
    color: white;
    text-align: center;
    font-size: 2rem;
}

.prep-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prep-item {
    width: 40%;
    box-sizing: border-box;
    padding: 0em 2em;
}

.prep-name {
    font-weight: 900;
    font-size: 3rem;
}

.prep-ingredients {
    text-align: center;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(34,34,34,0.5) 80%, transparent 100%);
    align-items: center;
    color: white;
    text-align: justify;
    font-family: 'Ubuntu';
    font-size: 2rem;
    line-height: 150%;
    text-wrap: wrap;
}

.about p {
    padding: 0em 5em;
}

@media (max-width: 899px) {
    #avochata {
        background-image: url('../../public/images/cocktails/avochata_tall_1.jpg')
    }

    #bruto {
        background-image: url('../../public/images/cocktails/bruto_tall.jpg')
    }
    
    #bumpkin {
        background-image: url('../../public/images/cocktails/bumpkin_tall.jpg')
    }

    #coconut-mocha {
        background-image: url('../../public/images/cocktails/coconut_mocha_negroni_2.jpg')
    }

    #colonel-mustard {
        background-image: url('../../public/images/cocktails/mustard_tall.jpg')
    }

    #fjords {
        background-image: url('../../public/images/cocktails/fjords_tall.jpg')
    }

    #fuji {
        background-image: url('../../public/images/cocktails/mt_fuji_tall.jpg')
    }

    #high-sobriety {
        background-image: url('../../public/images/cocktails/high_sobriety.jpg')
    }

    #honey-shrub {
        background-image: url('../../public/images/cocktails/honey_shrub.jpg')
    }

    #pear-noel {
        background-image: url('../../public/images/cocktails/pear_noel_tall.jpg')
    }

    #tannin-bombs {
        background-image: url('../../public/images/cocktails/tannin_bombs_tall.jpg')
    }

    #tennessillin {
        background-image: url('../../public/images/cocktails/tennessillin.jpg')
    }

    .hero-text h1 {
        font-size: 11vw;
    }

    .hero-text p {
        font-size: 3vw;
        margin-inline: 1rem;
    }

    .fa-arrow-circle-down {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
    }

    .prep-list {
        flex-direction: column;
    }

    .prep-item {
        width: 100%;
        padding: 1em;
    }

    .about p {
        text-align: left;
        padding: 1em;
    }
}

@media (min-width: 900px) {
    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        
        z-index: -1;
    }
    
    #overlay_default {
        background: linear-gradient(to right, var(--global-background-color) 30%, transparent 35%, transparent 65%, var(--global-background-color) 70%);
    }

    #avochata {
        background-image: url('../../public/images/cocktails/avochata_wide.jpg');
    }

    #bruto {
        background-image: url('../../public/images/cocktails/bruto_wide.jpg');
    }
    
    #bumpkin {
        background-image: url('../../public/images/cocktails/bumpkin_wide.jpg');
    }

    #coconut-mocha {
        background-image: url('../../public/images/cocktails/coconut_mocha_negroni_2.jpg');
        width: 40vw;
    }

    #colonel-mustard {
        background-image: url('../../public/images/cocktails/mustard_wide_1.jpg');
    }

    #fjords {
        background-image: url('../../public/images/cocktails/fjords_wide.jpg');
    }

    #fuji {
        background-image: url('../../public/images/cocktails/mt_fuji_wide.jpg');
    }

    #high-sobriety {
        background-image: url('../../public/images/cocktails/high_sobriety.jpg');
        width: 40vw;
    }

    #honey-shrub {
        background-image: url('../../public/images/cocktails/honey_shrub.jpg');
        width: 40vw;
    }

    #pear-noel {
        background-image: url('../../public/images/cocktails/pear_noel_wide.jpg');
    }

    #tannin-bombs {
        background-image: url('../../public/images/cocktails/tannin_bombs_wide.jpg');
    }

    #tennessillin {
        background-image: url('../../public/images/cocktails/tennessillin.jpg');
        width: 40vw;
    }
}