:root {
    --global-background-color: #222;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

.cocktail-photo img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
    /* width: 100%; */
    position: fixed;
    z-index: -2;
}

h1,
h2 {
    font-family: 'Tenor Sans', serif;
    color: white;
}

.hero-text {
    padding-top: 14vw;
    padding-bottom: 15vw;

    text-align: center;
    font-size: 1.1em;
    color: white;
}

div.hero-text>h1 {
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 0;
}

div.hero-text>p {
    font-size: 1.2em;
}

.fa-arrow-circle-down {
    color: white;
    font-size: 2em;
    margin-top: 0.5em;
    text-decoration: none;
}

.spec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent 0%, rgba(34,34,34,0.5) 30%);
    color: white;
    text-align: center;
    font-size: 1.25em;
}

#bumpkin-spec {
    padding: 2em;
}

.spacer {
    height: 15vh;
}

h2 {
    font-size: 2em;
    padding: 2em 0em 0em 0em;
}

.prep {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(34,34,34,0.5);
    color: white;
    text-align: center;
    font-size: 1.25em;
}

.prep-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prep-item {
    width: 40%;
    padding: 0em 2em;
}

.prep-name {
    font-weight: 900;
    font-size: 1.25em;
}

.prep-ingredients {
    text-align: left;
}

.prep-instructions {
    text-align: left;
    text-wrap: wrap;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(34,34,34,0.5) 80%, transparent 100%);
    align-items: center;
    color: white;
    text-align: justify;
    font-size: 1.25em;
    text-wrap: wrap;
}

.about p {
    padding: 0em 5em;
}

@media (max-width: 899px) {
    
}

@media (min-width: 900px) {
    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        
        z-index: -1;
    }
    
    #overlay_black {
        background: linear-gradient(to right, black 30%, transparent 35%, transparent 65%, black 70%);
    }
    
    #overlay_white {
        background: linear-gradient(to right, white 30%, transparent 35%, transparent 65%, white 70%);
    }
    
    #overlay_brown {
        background: linear-gradient(to right, rgb(59, 40, 10) 30%, transparent 35%, transparent 65%, rgb(59, 40, 10) 70%);
    
    }

    #fuji {
        margin-top: 0%;
    }
    
    #fjords {
        margin-top: -7.5%;
    }
    
    #mustard {
        margin-top: -5%;
    }
    
    #pear {
        margin-top: -15%;
    }
    
    #tannin_bombs {
        margin-top: -5%;
    }
    
    #avochata {
        width:50%;
        margin-left: 25%;
        /* margin-top: -12.5%; */
    }
    
    #bumpkin {
        margin-top: -13.5%;
    }
    
    #high_sobriety {
        width:50%;
        margin-left: 25%;
        margin-top: -15%;
    }
    
    #tennessillin {
        width: 50%;
        margin-left: 25%;
        margin-top: -15%;
    }
    
    #honey_shrub {
        width: 50%;
        margin-left: 25%;
        margin-top: -15%;
    }
    
    #coconut_mocha {
        width: 50%;
        margin-left: 25%;
        margin-top: -20%;
    }
}