:root {
    --global-background-color: #222;
}


html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;

    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

.hero-image {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(transparent 0%, transparent 70%, var(--global-background-color) 100%), url("../images/hero_code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding-top: 14vw;
    padding-bottom: 15vw;

    text-align: center;
    font-size: 1.1em;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Tenor Sans';
    font-weight: 600;
}

div.hero-text>h2 {
    font-size: 3vw;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

div.hero-text>h1 {
    font-size: 6vw;
    margin-bottom: 0;
}

div.hero-text>p {
    font-size: 1.2em;
}

.fa-arrow-circle-down {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.projects-gallery {
    display: flex;
    flex-direction: column;
}

.project {
    margin: 2em;
}

.project-title h2 {
    font-size: 3em;
    color: white;
    text-align: center;
}

.project-content {
    display: flex;
    flex-direction: row;
    height: auto;
}

.project-image {
    position: relative;
    width: 25%;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.project-overview {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 75%;
    margin: 2em;
}

.project-text {
    margin: 1em;
    text-align: justify;
}

.project-text p {
    margin: 2em;
}

.project-overview button {
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 1em;
    border-radius: 3em;
    padding-inline: 2em;
    padding-block: .75em;
    transition-duration: 0.4s;
    align-self: center;
}

.project-overview button>a {
    color: black;
    text-decoration: none;
}


.project-overview button:hover {
    transform: scale(1.2);
}