:root {
    --global-background-color: #222;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

.hero-image {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 70%, var(--global-background-color) 100%), url("../images/hero_code_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Tenor Sans';
    font-weight: 600;
}

.hero-text h1 {
    font-size: 8vw;
    margin-bottom: 0;
}

.hero-text p {
    font-size: 1.5vw;
}

.fa-arrow-circle-down {
    color: white;
    font-size: 5rem;
    text-decoration: none;
    transition-duration: 0.4s;
}

.fa-arrow-circle-down:hover {
    transform: scale(1.2);
}

.projects-gallery {
    display: flex;
    flex-direction: column;
}

.project {
    margin: 2em;
}

.project-title h2 {
    font-size: 2vw;
    color: white;
    text-align: center;
}

.project-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.project-image {
    position: relative;
    width: 25%;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.project-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 75%;
    /* margin: 2em; */
}

.project-text {
    margin: 1em;
    text-align: justify;
}

.project-text p {
    margin-bottom: 1em;
    font-family: 'Ubuntu';
    font-size: 2rem;
    line-height: 150%;
}

.project-overview button {
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 2.5rem;
    border-radius: 3em;
    padding-inline: 2em;
    padding-block: .75em;
    transition-duration: 0.4s;
    align-self: center;
}

.project-overview button>a {
    color: black;
    text-decoration: none;
}


.project-overview button:hover {
    transform: scale(1.2);
}

@media (max-width: 899px) {
    .hero-text h1 {
        font-size: 11vw;
    }

    .hero-text p {
        font-size: 3vw;
    }

    .fa-arrow-circle-down {
        font-size: 10vw;
    }

    .project-content {
        flex-direction: column;
        align-items: center;
    }

    .project-title h2 {
        font-size: 7vw;
    }

    .project-image {
        width: 100%;
    }

    .project-overview {
        max-width: 100%;
    }

    .project-text {
        margin: 0;
        text-align: left;
    }

    .project-text p {
        font-size: 1.5rem;
    }

    .project-overview button {
        font-size: 4vw;
    }

    .project-content#autoplay {
        flex-direction: column-reverse;
    }
}