:root {
    --global-background-color: #222222;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

.hero-image {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(transparent 0%, transparent 70%, var(--global-background-color) 100%), url("../images/hero_home_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding-top: 14vw;
    padding-bottom: 15vw;

    text-align: center;
    font-size: 1.1em;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Tenor Sans';
    font-weight: 600;
}

.hero-text h2 {
    font-size: 3em;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

.hero-text h1 {
    font-size: 6em;
    margin-bottom: 0;
}

div.hero-text>p {
    font-size: 1.2em;
}

.fa-arrow-circle-down {
    color: black;
    font-size: 2em;
    text-decoration: none;
    transition-duration: 0.4s;
}

.fa-arrow-circle-down:hover {
    transform: scale(1.2);
}

.parallax-section {
    position: relative;
    height: 300vh;
    display: flex;
}

.sticky-half {
    width: 50%;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    color: white;

}

.sticky-half.left {
    left: 0;
    order: 0;
}
.sticky-half.right {
    right: 0;
    order: 1;
}

.parallax-section h2 {
    margin-top: auto;
    font-size: 8em;
    color:white;
    margin-bottom: 0.25em;
}

.parallax-section button {
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 1em;
    border-radius: 3em;
    padding-inline: 2em;
    padding-block: .75em;
    transition-duration: 0.4s;
}

.parallax-section button>a {
    color: black;
    text-decoration: none;
}

.parallax-section button:hover {
    transform: scale(1.2);
}

.parallax-section nav {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.parallax-section nav > ul {
    list-style-type: none;
    display: flex;
}

.parallax-section nav li:not(:last-child)::after {
    content: "/";
    margin: 1em;
}

.parallax-section nav a {
    color: white;
    text-decoration: none;
}

.scrolling-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

.scrolling-half.left {
    left: 0;
    order: 0;
}

.scrolling-half.right {
    right: 0;
    order: 1;
}

.scrolling-half:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 300%; /* Adjust the value for more or less parallax effect */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax-image {
    position: relative;
    width: 100%;
    height: 33.333%; /* Divide by the number of images to evenly distribute space */
}

.parallax-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 30% 70%;
}

#astro img{
    object-position: 50% 50%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#about {
    height: auto;
}

#about > .scrolling-half {
    background-image: linear-gradient(var(--global-background-color) 0%, white 25%, white 75%, var(--global-background-color) 100%);
    color: black;
}

#portrait {
    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;
    align-self: center;
    margin-top: 15%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-position: center top;
    z-index: 998;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    opacity: 0;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.fade-in-up.visible {
    opacity: 1;
    animation: fadeInUp 1.5s ease-in-out;
}

#about-text {
    padding: 5em 10em 30em;
    z-index: 998;
}

#about p {
    padding: 1em;
    text-align: justify;
    font-size: 1.5em;
}

@media (max-width: 899px) {
    .hero-image {
        background-position-y: 80%;
    }

    .hero-text h2 {
        font-size: 2em;
        margin-top: -40%;
    }

    .hero-text h1 {
        font-size: 4em;
    }

    .parallax-section {
        flex-direction: column;
        height: auto;
    }

    .parallax-section h2 {
        font-size: 3em;
    }

    .parallax-section nav {
        display: none;
    }

    .parallax-image {
        height: 100vw;
        margin-bottom: 2.5%;
    }

    .parallax-image img {
        border-radius: 20px;
    }

    .sticky-half.right,
    .sticky-half.left {
        width: 100%;
        height: auto;
        top: 0%;
        z-index: 999;
        order: 0;
        background-color: rgba(34, 34, 34, 0.9);
        padding: 10% 0% 5%;
        border-radius: 20px;
    }

    .scrolling-half.right,
    .scrolling-half.left {
        width: 100%;
        order: 1;
    }

    .overlay {
        opacity: 0;
        transition: opacity 1s ease-in-out;
        border-radius: 20px;
    }

    .overlay.visible {
        opacity: 1;
    }

    #about > .scrolling-half {
        background-image: var(--global-background-color);
        color: white;
    }

    #about-text {
        padding: 0;
        font-size: 0.6em;
    }

    #about p {
        text-align: left;
    }
}