header {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.25em;
    border: inherit;
    z-index: 999999;
    pointer-events: none;
}

header > nav {
    width: 100%;
    display: flex;
    align-items: center;
    border: inherit;
}

header >nav>ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    border: inherit;
    margin: 0;
    padding: 0;
}

header>nav.dark>ul {
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent 100%);
}

header>nav.light>ul {
    background: linear-gradient(rgba(255, 255, 255, 0.7), transparent 100%);
}

nav.dark a,
nav.dark i {
    color: white;
}

nav.light a,
nav.light i {
    color: black;
}

header >nav li {
    padding: 1em;
    text-align: center;
    border: inherit;
    position: relative;
    transition: ease-in-out 0.3s;
    pointer-events: all;
}

header>nav>ul>#home {
    margin-right: auto;
}

header>nav li:hover {
    background: linear-gradient(rgba(1, 1, 1, 0.25), transparent);
}

header>nav a {
    text-decoration: none;
    font-family: "Space Mono", sans-serif;
}

header>nav .mobile-icon {
    display: none;
}

#mobile-nav-background {
    display: none;
}

.mobile-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: 99999;
    pointer-events: none;
    transition: .3s ease;
    overflow-y: auto;
}

.mobile-overlay.active {
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: hidden;
}

.menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.menu-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-options a {
    text-decoration: none;
    font-family: "Space Mono", sans-serif;
    font-size: 2em;
    color: white;
}

.close-icon i {
    color: white;
    font-size: 2em;
    padding-top: 1em;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

footer>ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    color: white;
}

footer>ul>li:first-child {
    margin-right: auto;
}

footer>ul .fa {
    color: white;
    margin-right: 1em;
}

@media (max-width: 899px) {
    header>nav {
        justify-content: space-between;
        align-items: center;
    }

    header > nav.dark > ul,
    header > nav.light > ul {
        width: 100vw;
        background: transparent;
    }

    header>nav li:not(:has(i)) {
        display: none
    }

    header>nav li:hover {
        background: transparent;
    }

    header>nav .mobile-icon {
        display: block;
    }

    #mobile-nav-background {
        display: block;
        position: fixed;
        width: 100vw;
        height: 70px;
        z-index: 998;
    }

    #mobile-nav-background.dark {
        background: linear-gradient(rgba(0, 0, 0, 0.7), transparent 100%);
    }

    #mobile-nav-background.light {
        background: linear-gradient(rgba(255, 255, 255, 0.7), transparent 100%);
    }

    #home-mobile {
        margin-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-right: auto;
    }

    #menu-toggle {
        margin-right: 1em;
        margin-top: 0.5em;
        position: relative;
        transition: transform 0.3s ease;
        transform-origin: 50% 40%;
    }

    #menu-toggle.active {
        transform: rotate(-90deg);
    }

    body.overlay-active {
        overflow: hidden;
    }

    header > nav li {
        padding: 0.5em 1em;
    }
}
