:root {
    --global-background-color: #222;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

header>nav>ul {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 100%);
}

nav a {
    color: white;
}

.hero-image {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(transparent 0%, transparent 70%, var(--global-background-color) 100%), url("../images/hero_photography.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding-top: 14vw;
    padding-bottom: 15vw;

    text-align: center;
    font-size: 1.1em;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Tenor Sans';
    font-weight: 600;
}

div.hero-text>h2 {
    font-size: 3vw;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

div.hero-text>h1 {
    font-size: 6vw;
    margin-bottom: 0;
}

div.hero-text>p {
    font-size: 1.2em;
}

.fa-arrow-circle-down {
    color: black;
    font-size: 2em;
    text-decoration: none;
}

.gallery-container {
    display: flex;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1%;
    list-style-type: none;
}

.image-gallery>li {
    height: 300px;
    position: relative;
    flex: 1 1 auto;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.image-gallery li img:hover {
    transform: scale(0.95);
    z-index: 1;
}

.full-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 9999;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}