:root {
    --global-background-color: #222;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Space Mono', serif;
    background-color: var(--global-background-color);
}

.hero-image {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(transparent 0%, transparent 70%, var(--global-background-color) 100%), url("../images/hero_photography.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    padding-top: 14vw;
    padding-bottom: 20vw;

    text-align: center;
    font-size: 1.1em;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Tenor Sans';
    font-weight: 600;
}

div.hero-text>h2 {
    font-size: 3vw;
    margin-top: 5vw;
    margin-bottom: -2vw;
}

div.hero-text>h1 {
    font-size: 6vw;
    margin-bottom: 0;
}

div.hero-text>p {
    font-size: 1.2em;
}

.fa-arrow-circle-down {
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition-duration: 0.4s;
}

.fa-arrow-circle-down:hover {
    transform: scale(1.2);
}

.gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gallery-controls {
    display: none;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 1%;
    list-style-type: none;
}

.image-gallery>li {
    height: 300px;
    position: relative;
    flex: 1 1 auto;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
    cursor: nesw-resize;
    transition: transform 0.5s ease-in-out;
}

.image-gallery li img:hover {
    transform: scale(0.95);
    z-index: 1;
}

.full-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 999;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

@media (max-width: 899px) {
    .hero-image {
        flex-shrink: 0;
        background-position-x: 30%;
    }

    .gallery-controls {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        height: 70px;
        width: 35%;
        align-self: center;
        justify-content: space-between;
        z-index: 999;
    }

    .gallery-controls button {
        border: none;
        width: 40px;
        height: 40px;
        background: none;
        color: white;
        font-size: 1.25em;
        border-radius: 50%;
    }

    .gallery-controls button.active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .image-gallery.timeline-view li {
        height: auto; 
    }

    .image-gallery.tile-view li {
        flex: none;
        width: 32vw;
        height: 32vw;
    }
}